<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="css/estilosAlbum.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/jquery.confirm.css"/>
<script src="js/jquery.confirm.js"></script>
<script src="js/confirmacion.js"></script>
</head>

<body>
<div id="multimedia">
  <ul>
    <li><a href="#" class="visor">
      <figure class ="contenido"><img  src="http://i44.tinypic.com/2zfogg2.jpg"></img>
        <div class="leyenda"> Hugh </div>
      </figure>
      </a> </li>
    <li><a href="#" class="visor">
      <figure class ="contenido"> <img src="http://i44.tinypic.com/2s8ojzc.jpg"></img>
        <div class="leyenda"> Monos? </div>
      </figure>
      </a> </li>
    <li><a href="#" class="visor">
      <figure class ="contenido">
        <iframe class="video" type="text/html" width="130" height="100" src="http://www.youtube.com/embed/yYFZUNiukbg?wmode=transparent" frameborder="0"></iframe>
        <div class="leyenda"> Pepelu </div>
      </figure>
      </a> </li>
    <li><a href="#" class="visor">
      <figure class ="contenido"> <img width="120" src="img/play.jpg"></img> 
        <!-- Para el audio podemos pedir que sean de cloudsound u otra pag, en firefox no se escucha por ahora, pero en chrome si-->
        <audio src="audio/risa.wav" controls> </audio>
        <div class="leyenda"> Risa helio </div>
      </figure>
      </a> </li>
  </ul>
</div>
</body>
</body>
</html>
