<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../public/css/estilosAlbum.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="multimedia">
  <div id="fotos">
    <p class="titulo"> Fotos </p>
    <ul>
      <a class="previo"></a>
      <li>
        <figure> <img src="http://i44.tinypic.com/2zfogg2.jpg"></img>
          <div class="leyenda"> Hugh </div>
        </figure>
      </li>
      <li>
        <figure> <img src="http://i44.tinypic.com/2zfogg2.jpg"></img>
          <div class="leyenda"> Hugh </div>
        </figure>
      </li>
      <a class="siguiente"></a>
    </ul>
  </div>
  <div id="videos">
    <p class="titulo"> Vídeos </p>
    <ul>
      <li>
        <figure>
          <iframe class="video" type="text/html" width="400" height="300" src="http://www.youtube.com/embed/yYFZUNiukbg" frameborder="0"></iframe>
          <div class="leyenda"> Pepelu </div>
        </figure>
      </li>
    </ul>
  </div>
  <div id="audio">
    <p class="titulo"> Audio </p>
    <ul>
      <li>
        <figure> 
          <!-- Para el audio podemos pedir que sean de cloudsound u otra pag, en firefox no se escucha por ahora, pero en chrome si-->
          <audio src="../public/audio/risa.wav" controls> </audio>
          <div class="leyenda"> Risa helio </div>
        </figure>
      </li>
    </ul>
  </div>
</div>
</body>
</body>
</html>
