<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/estilosFormulario.css" rel="stylesheet" type="text/css" />
<link href="css/stylesNotif.css" rel="stylesheet" type="text/css" />
<link href="css/estilosGrupos.css" rel="stylesheet" type="text/css">
</head>

<body>
<div  class="form">
  <fieldset class="grupo" id="opcionesGrupos">
    <legend> Preferencias en retos</legend>
    <label for="name">Periodicidad de los retos:
    <select class="select-style" name="periodo">
        <option value="0">5 días</option>
        <option value="1">10 días</option>
        <option value="2">15 días</option>
        <option value="3">30 días</option>
      </select>
    </label>
    <label for="privacidad"> Visibilidad de los retos: 
      <select class="select-style" name="privacidad">
        <option value="0">públicos</option>
        <option value="1">usuarios registrados</option>
        <option value="2">privados</option>
      </select>
    </label>
    <br>
    <br>
    <br>
    <input class="buttom" name="submit" id="submit" value="Modificar preferencias" type="submit" >
  </fieldset>
</div>
</body>
</html>
