<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="css/stylesNotif.css" rel="stylesheet" type="text/css" />
<link href="css/estilosGrupos.css" rel="stylesheet" type="text/css">
</head>

<body>
<fieldset class="grupo">
  <legend>Grupo: BASTec</legend>
  <div class="texto">¡Tu grupo BASTec ha ganado un reto!</div>
  <div class="guay">A M.Cabesa le parece guay</div>
  <img class="imgNot" src="img/feelLikeASir.png" />
</fieldset>
<fieldset class="grupo">
  <legend>Grupo: BASTec</legend>
  <div class="texto">¡Tu grupo BASTec ha retado a otro grupo!</div>
  <div class="guay">BASTec se enfrentará a Edgebox en un reto grupal</div>
  <img class="imgNot" src="img/icRet.png" />
</fieldset>
<fieldset class="grupo">
  <legend>Grupo: BASTec</legend>
  <div class="texto">¡Tu grupo BASTec ha ganado un reto!</div>
  <div class="guay">Han conseguido 50 puntos</div>
  <img class="imgNot" src="img/feelLikeASir.png" />
</fieldset>
</body>
</html>
