<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="stylesNotif.css" rel="stylesheet" type="text/css" />
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="../public/js/perfect-scrollbar.js"></script>
 <link href="../public/css/perfect-scrollbar.css" rel="stylesheet">
  <script>
   $(document).ready(function() {
      $('.estilo').perfectScrollbar();
   });
	
</script>
<title>Documento sin título</title>
</head>

<body>

<div class="user">
Notificacion sobre usuario
</div>
<div class="grupo">
Notificacion sobre servidor
</div>
<div class="estilo">
<p>hola</p>
<p>hola</p>
<p>hola</p><p>hola</p>
</div>
</body>
</html>
