<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Cargamos hojas de estilo y ficheros JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="../public/css/estilosFormulario.css" rel="stylesheet" type="text/css">
<link href="../public/css/estilosGrupos.css" rel="stylesheet" type="text/css">
<link href="../public/css/stylesNotif.css" rel="stylesheet" type="text/css" />

</head>

<body>
<nav id="opciones">
<ul>
  <li><a href="#" id="opBoton">Opciones</a>
    <ul class="menuOpc">
      <li><a href="#">Cambiar Administrador</a></li>
      <li><a href="#">Preferencias retos</a></li>
      <li><a href="#">Añadir componente</a></li>
      <li><a href="#">Eliminar componente</a></li>
    </ul>
  </li>
  </ul>
</nav>
<div class="container">
  <fieldset class="grupo">
    <legend>Grupo: BASTec</legend>
    <div class="texto">¡Tu grupo BASTec ha ganado un reto!</div>
    <div class="guay">A M.Cabesa le parece guay</div>
    <img class="imgNot" src="../public/img/feelLikeASir.png" />
  </fieldset>
  <fieldset class="grupo">
    <legend>Grupo: BASTec</legend>
    <div class="texto">¡Tu grupo BASTec ha retado a otro grupo!</div>
    <div class="guay">BASTec se enfrentará a Edgebox en un reto grupal</div>
    <img class="imgNot" src="../public/img/icRet.png" />
  </fieldset>
  <fieldset class="grupo">
    <legend>Grupo: BASTec</legend>
    <div class="texto">¡Tu grupo BASTec ha ganado un reto!</div>
    <div class="guay">Han conseguido 50 puntos</div>
    <img class="imgNot" src="../public/img/feelLikeASir.png" />
  </fieldset>
</div>
</body>
</html>
