<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Bienvenido, logueate</title>

<!-- Cargamos hojas de estilo y ficheros JavaScript -->

<link href="../public/css/estilosFormulario.css" rel="stylesheet" type="text/css">
<link href="../public/css/estilosLogin.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container"> 
  <!--/ freshdesignweb top bar -->
  <div id="cabecera">
    <div id="titulo"> FACE
      <div id="torcido">the</div>
      CHALLENGE </div>
  </div>
  <div  class="form" id="home-login">
    <form id="loginform"  name="loginform">
      <p class="contact">
        <label for="username">Nombre de usuario</label>
      </p>
      <input id="username" name="username" placeholder="Nick" required="" type="text">
      <p class="contact">
        <label for="password">Contraseña</label>
      </p>
      <input type="password" id="password" name="password" required="">
      <br>
      <br>
      <a href="pagPrincipal.html">
      <input class="buttom" name="submit" id="submit" value="¡Soy un valiente!" type="submit">
      </a>
    </form>
  </div>
  <div  class="form" id="home-registro">
    <form id="regnuevoform"  name="regnuevoform">
      <h4>Registrate y comienza tu reto</h4>
      <a href="pagRegistro.html">
      <input class="buttom" name="submit" id="regbuttom" value="Registrarse">
      </a>
    </form>
  </div>
</div>
</body>
</html>
