<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../public/js/jquery.roundabout.js"></script>
<script>      
   $(document).ready(function() {
      $('ul').roundabout();
	  cambio('indexNotificaciones.html','570px');
   });
   
	function cambio(url,s){
		var iframe=$('#centro');
		iframe.attr('src',url);
		iframe.attr('height',s);
		$('#clsImagen').css('height',s);
	}
</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Face The Challenge</title>
<link href="../public/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="cabecera">
  <div id="titulo" onclick="javascript:cambio('indexNotificaciones.html','570px')"> FACE
    <div id="torcido">the</div>
    <p>CHALLENGE</p>
  </div>
  <div id="usuario"><img src="../public/img/Recorte.jpg" />
    <div id="datos">
      <li>Usuario: JotaGé</li>
      <li>Grupo: BASTec</li>
      <li>Puntuacion: 300</li>
    </div>
    <input id="boton" type="button" value="Perfil"/>
  </div>
</div>
         
<div class="clsImagen" id="clsImagen">           
  <div class="clsContenedor">                   
    <div class="clsTitulo" onclick="javascript:cambio('Reto.html','1000px')">                        
      <h2>Reto</h2>
    </div>
    <div class="clsTitulo">                        
      <h2>Invitar</h2>
    </div>
    <div class="clsTitulo" onclick="javascript:cambio('indexGrupos.html','600px')">                        
      <h2>Grupo</h2>
    </div>
    <div class="clsTitulo">                        
      <h2>Älbum</h2>
    </div>
    <div class="clsTitulo">                        
      <h2>Ranking</h2>
    </div>
    <div class="clsTitulo">                        
      <h2>Opciones</h2>
    </div>
  </div>
</div>
<iframe id="centro" class="centroIz" scrolling="no" src="indexNotificaciones.html"> hola </iframe>
<ul>
  <li>
    <div class="titRank">Usuarios hoy</div>
    <p>1. JotaGé           130293</p>
    <p>2. Pilar            1234</p>
    <p>3. Jose Montes      100</p>
    <p>4. Manu             69</p>
    <p>5. Antonio          0</p>
  </li>
  <li>
    <div class="titRank">Grupos hoy</div>
    <p>1. Edgebox          12312</p>
    <p>2. BASTec            155</p>
  </li>
  <li>
    <div class="titRank">Usuarios mes</div>
    <p>1. JotaGé           13029393</p>
    <p>2. Pilar            1234</p>
    <p>3. Jose Montes      100</p>
    <p>4. Manu             69</p>
    <p>5. Antonio          0</p>
  </li>
  <li>
    <div class="titRank">Grupos mes</div>
    <p>1. BASTec           234264343</p>
    <p>2. Edgebox          34536</p>
  </li>
  <li>
    <div class="titRank">Usuarios global</div>
    <p>1. JotaGé           234234234</p>
    <p>2. Pilar            23423</p>
    <p>3. Jose Montes      674</p>
    <p>4. Manu             69</p>
    <p>5. Antonio          0</p>
  </li>
  <li>
    <div class="titRank">Grupos global</div>
    <p>1. BASTec           9999999999</p>
    <p>2. Edgebox          3453645</p>
  </li>
</ul>
</body>
</html>
