<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../public/js/jquery.roundabout.js"></script>
<script>
   $(document).ready(function() {
      $('ul').roundabout();
   });
	
</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Página principal FTC</title>
<link href="../public/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="cabecera">
  <div id="titulo"> FACE
    <div id="torcido">the</div>
    <p>CHALLENGE</p>
  </div>
  <div id="usuario"><img src="../public/img/Recorte.jpg" />
    <div id="datos">
      <li>Usuario: JotaGé</li>
      <li>Grupo: BASTec</li>
      <li>Puntuacion: 300</li>
    </div>
    <input id="boton" type="button" value="Perfil"/>
  </div>
  <canvas id="not"> </canvas>
</div>
         
<div class="clsImagen">           
  <div class="clsContenedor">                   
    <div class="clsTitulo">                        
      <h2>Reto</h2>
    </div>
    <div class="clsTitulo">                        
      <h2>Invitar</h2>
    </div>
    <div class="clsTitulo">                        
      <h2>Grupo</h2>
    </div>
    <div class="clsTitulo">                        
      <h2>Älbum</h2>
    </div>
    <div class="clsTitulo">                        
      <h2>Ranking</h2>
    </div>
    <div class="clsTitulo">                        
      <h2>Opciones</h2>
    </div>
  </div>
</div>
<iframe class="centroIz" src="indexNotificaciones.html"> hola </iframe>
<ul>
  <li>Ranking usuarios dia:
    <ol>
      <li>JotaGé           1302934293</li>
      <li>Pilar            1234</li>
      <li>Jose Montes      100</li>
      <li>Manu             69</li>
      <li>Antonio          0</li>
    </ol>
  </li>
  <li>Ranking grupos dia:</li>
  <li>Ranking usuarios mes:</li>
  <li>Ranging grupos mes:</li>
  <li>Ranking usuarios global:</li>
  <li>Ranking grupos global:</li>
</ul>
</body>
</html>
