<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Registro de nuevo usuario</title>

<!-- Cargamos hojas de estilo y ficheros JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="../public/js/comprobar.js" language="JavaScript"> </script>
<link href="../public/css/estilosFormulario.css" rel="stylesheet" type="text/css">
<link href="../public/css/estilosRegistro.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Barra superior -->
<div class="bar-top"> <a href="pagInicio.html">
  <div id="titulo"> FACE
    <div id="torcido">the</div>
    CHALLENGE </div>
  </a> </div>

<!--/ Contenedor de toda la página -->
<div class="container"> 
  
  <!--/ freshdesignweb top bar -->
  <header>
    <h1>Página de registro</h1>
  </header>
  <div  class="form">
  <form id="registroform"  name="registroform" onsubmit="return obtenValores()">
    <p class="contact">
      <label for="name">Nombre completo</label>
    </p>
    <input id="name" name="name" placeholder="Nombre" required="" type="text">
    <p class="contact">
      <label for="email">Email</label>
    </p>
    <input id="email" name="email" placeholder="ejemplo@domain.com" type="email">
    <p class="contact">
      <label for="username">Nombre de usuario</label>
    </p>
    <input id="username" name="username" placeholder="Nick" required="" type="text">
    <p class="contact">
      <label for="password">Contraseña</label>
    </p>
    <input type="password" id="password" name="password" required="">
    <p class="contact">
      <label for="repassword">Confirmar contraseña</label>
    </p>
    <input type="password" id="repassword" name="repassword" required="">
    <br>
    <label>Sexo</label>
    <select class="select-style" name="genero">
      <option value="m">Masculino</option>
      <option value="f">Femenino</option>
    </select>
    <br>
    <br>
    <fieldset>
      <label>Cumpleaños</label>
      <label class="mes">
        <select class="select-style" name="cumple">
          <option value="">Mes</option>
          <option  value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03" >Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12" >Diciembre</option>
        </select>
      </label>
      <label>Día
        <input class="birthday" maxlength="2" name="BirthDay"  placeholder="Día" required="">
      </label>
      <label>Año
        <input class="birthyear" maxlength="4" name="BirthYear" placeholder="Año" required="">
      </label>
    </fieldset>
    <br>
    <p class="contact">
      <label for="phone">Móvil</label>
      <input id="phone" name="phone" placeholder="666666666" required="" type="text">
      <br>
      <br>
      <input class="buttom" name="submit" id="submit" value="Registrarse" type="submit" >
  </form>
</div>
</div>
</body>
</html>

<script type='text/javascript' >

	function obtenValores(){
	//Voy a ir recogiendo todos los valores del campo para enviarlos como una cadena JSON
	alert('Estoy aqui!!');
		var nombre = document.getElementById('name').value;
		var email = document.getElementById('email').value;
		var user = document.getElementById('username').value;
		var pass = document.getElementById('password').value;
		var repass = document.getElementById('repassword').value;

		var sex = document.getElementById('gender').value;
		
		//Pongo el sexo del usuario como texto
		if (sex == "m"){sex = "Masculino";}
		else{sex = "Femenino";}

		var mes = document.getElementById('BirthMonth').value;
		var dia = document.getElementById('BirthDay').value;
		var anio = document.getElementById('BirthYear').value;
		
		//Pongo el mes con nombre
		if (mes == "01"){mes = "Enero";}
		if (mes == "02"){mes = "Febrero";}
		if (mes == "03"){mes = "Marzo";}
		if (mes == "04"){mes = "Abril";}
		if (mes == "05"){mes = "Mayo";}
		if (mes == "06"){mes = "Junio";}
		if (mes == "07"){mes = "Julio";}
		if (mes == "08"){mes = "Agosto";}
		if (mes == "09"){mes = "Septiembre";}
		if (mes == "10"){mes = "Octubre";}
		if (mes == "11"){mes = "Noviembre";}
		if (mes == "12"){mes = "Diciembre";}
		
		//Obtengo la fecha de nacimiento completa
		var nacimiento = dia + "/" + mes + "/" + anio;
		
		var movil = document.getElementById('phone').value;
		
		alert('Voy a coger la fecha');
		fechaRegistro = "";
		//var fechaRegistro = f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();
		alert('Fecha cogida')
		
		alert('El pass es: '+pass+' y el repass: '+repass);
		
		//Ahora, para enviar los datos, compruebo por ejemplo que el password está bien repetido:
		if (pass==repass){
		alert('Los passwords coinciden');
		
		var respuesta = {"_id":user,"nombre":nombre,"email":email,"pass":pass,"sexo":sex,"fechaNacimiento":nacimiento};
		alert('va va');
		alert(respuesta);
		alert('ahi va ahi va');
				
		db.insert(respuesta, function(error,http_body,http_headers){
		
		if(error){alert('Por alguna razón, no se puede, error: '+error);}
		
		else{
			console.log(http_body);
			console.log("Ya está hecha la peticion");
		}
		
		});
		alert('Voy a hacer la insercion!!!');
		var db = require("nano")('https://ftchallenge:projectftc@ftchallenge.cloudant.com/').use('usuarios');
		var json={"nombre":nombre,"sexo":sex,"fechaNacimiento":nacimiento,"correo":email,"nombreUsuario":user,"contraseña":pass,"retosSuperados":"null","retosFallidos":"null","retosTotales":"null","puntuacion":"null","retosActivos":"null","notificaciones":"1","privacidad":"2","fechaRegistro":fechaRegistro,"grupo":"null"};
				db.insert( { 'docs' : json},function (error,http_body,http_headers) {
			     console.log(http_body);
			 }
		       );
		}
		else{alert('Eh!! La clave no coincide!!');}
		
		
}
</script>


</body>
</html>
