<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Registro de nuevo usuario</title>

<!-- Cargamos hojas de estilo y ficheros JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="js/comprobar.js" language="JavaScript"> </script>
<script src="js/funcionesExternas.js" language="JavaScript"> </script>
<link href="css/estilosFormulario.css" rel="stylesheet" type="text/css">
<link href="css/estilosRegistro.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Barra superior -->
<div class="bar-top"> <a href="pagInicio">
  <div id="titulo"> FACE
    <div id="torcido">the</div>
    CHALLENGE </div>
  </a> </div>

<!--/ Contenedor de toda la página -->
<div class="container"> 
  
  <!--/ freshdesignweb top bar -->
  <header>
    <h1>Página de registro</h1>
  </header>
  <div  class="form">
  <form id="registroform"  name="registroform" >
    <p class="contact">
      <label for="name">Nombre completo</label>
    </p>
    <input id="name" name="name" placeholder="Nombre" required type="text">
    <p class="contact">
      <label for="email">Email</label>
    </p>
    <input id="email" name="email" placeholder="ejemplo@domain.com" type="email">
    <p class="contact">
      <label for="username">Nombre de usuario</label>
    </p>
    <input id="username" name="username" placeholder="Nick" required type="text">
    <p class="contact">
      <label for="password">Contraseña</label>
    </p>
    <input type="password" id="password" name="password" required>
    <p class="contact">
      <label for="repassword">Confirmar contraseña</label>
    </p>
    <input type="password" id="repassword" name="repassword" required>
    <br>
    <label>Sexo</label>
    <select class="select-style" id="gender">
      <option value="m">Masculino</option>
      <option value="f">Femenino</option>
    </select>
    <br>
    <br>
    <fieldset>
      <label>Cumpleaños</label>
      <label class="mes">
        <select class="select-style" id="BirthMonth">
          <option value="">Mes</option>
          <option  value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03" >Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12" >Diciembre</option>
        </select>
      </label>
      <label>Día
        <input class="birthday" maxlength="2" id="BirthDay"  placeholder="Día" required>
      </label>
      <label>Año
        <input class="birthyear" maxlength="4" id="BirthYear" placeholder="Año" required>
      </label>
    </fieldset>
    <br>
    <p class="contact">
      <label for="phone">Móvil</label>
      <input id="phone" name="phone" placeholder="666666666" required type="text">
      <br>
      <br>
      <input class="buttom" name="submit" id="submit" value="Registrarse" onClick="obtenValores()" />
  </form>
</div>
</div>
</body>
</html>