@charset "utf-8";
/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	background: url(19281_funny_memes.jpg);
	font-size: 14px;
	color: #3a2127;
}
/*--------------------------------------------------------------*/
/*Cabecera*/
#cabecera {
	color:#F60;
	text-shadow: 0px 3px 3px rgba(0,0,0,0.5), 0px -1px 1px rgba(0,0,0,0.4);
	position:relative;
	height:139px;
	margin-bottom:20px;
}
#titulo {
	font-weight:900;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:45px;
	position:absolute;
	top:17%;
	left:30%;
	right:42%;
	text-align:center;
	height:90px;
}
#cabecera #torcido {
	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.27);
	font-size:30px;
	position:absolute;
	left:165px;
	top:8%;
}
.container {
	padding: 0px 25%;
}
.container > header {
	display: block;
	text-align: center;
}
/*--------------------------------------------------------------*/
/*Formulario login, parte del base y agrega ciertas modificaciones*/
/*--------------------------------------------------------------*/
.form {
	float: right;
	background:#f1f1f1;
	width:400px;
	margin-bottom:5%;
	padding-bottom:10px;
}
/*Tamaño base de las entradas:*/
.form input {
	width: 350px;
	padding:1%;
}
/*--------------------------------------------------------------*/
/*Estilo para el botón de login*/
/*--------------------------------------------------------------*/
.form input.buttom {
	color:#FFF;
}
.form input.buttom:hover {
	background-color:#F60;
}
/*--------------------------------------------------------------*/
/*Estilo para Formulario de registro*/
/*--------------------------------------------------------------*/
#home-registro {
	float: left;
	width:200px;
	height:100px;
	padding:0 10px 10px 10px;
	text-align:center;
}
#regbuttom {
	background:#F63;
	width:180px;
	display: inline-block;
	padding: 5px 10px 6px;
	position: relative;
	text-align:center;
}
#regbuttom:hover {
	background-color:#F60;
}
