@charset "utf-8";
/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	background: url(edificios.jpg);
	font-size: 14px;
	color: #3a2127;
}
/*--------------------------------------------------------------*/
/*Cabecera*/
.container > header {
	padding: 20px 20px 20px 20px;
	display: block;
	text-align: center;
}
#titulo {
	font-weight:500;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:25px;
	position:absolute;
	text-align:center;
	display: block;
	width: 180px;
	left:-10px;
	padding:10px 4px 10px 4px;
	height: 48px;
}
#torcido {
	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.27);
	font-size:20px;
	left:70%;
	top:8%;
	display: block;
	position:absolute;
}
/*Para botón superior*/
.bar-top {
	font-family: 'Open Sans Condensed', 'Arial Narrow', Arial, sans-serif;
	line-height: 24px;
	font-size: 11px;
	text-transform: uppercase;
	position: relative;
	box-shadow: 3px 0px 5px rgba(0,0,0,0.2);
	text-shadow: 0px 1px 1px #fff;
	text-decoration: none;
}
.bar-top a {
	color:#333;
}
#titulo:hover {
	background-color:#FFF;
	/*Borde redondeado:*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
}
