@charset "utf-8";
* {
	padding: 0;
	margin: 0;
}
body {
	font: normal 12px Tahoma, Verdana, Arial, sans-serif;
	background: #f1f1f1;
}
.clsImagen {
	background: #2a78f6;
	background:-moz-linear-gradient(top, #4b8df9 20%, #2a78f6 100%);
	background:-webkit-gradient(linear, top, bottom, color-stop(20%, #4b8df9), color-stop(100%, #2a78f69));
	background:-webkit-linear-gradient(top, #4b8df9 20%, #2a78f6 100%);
	background:-o-linear-gradient(top, #2a78f6 20%, #4b8df9 100%);
	background:-ms-linear-gradient(top, #2a78f6 20%, #4b8df9 100%);
	background:linear-gradient(top, #2a78f6 20%, #4b8df9 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a78f6', endColorstr='#4b8df9', GradientType=0 );
	border-right:groove #F90;
	border-top-style:none;
	border-left-style:none;
	position:absolute;
	top:139px;
	padding-top:21px;
	left:0px;
	z-index:2;
}
.clsImagen:hover .clsContenedor {
	width: 150px;
	border-right:groove #F90;
	top:0%;
	padding-top:130px;
}
.clsContenedor {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	position: fixed;
	left: 0;
	width: 0;
	top:0%;
	height: 100%;
	overflow: hidden;
	background: #2a78f6;
	background:-moz-linear-gradient(top, #4b8df9 20%, #2a78f6 100%);
	background:-webkit-gradient(linear, top, bottom, color-stop(20%, #4b8df9), color-stop(100%, #2a78f69));
	background:-webkit-linear-gradient(top, #4b8df9 20%, #2a78f6 100%);
	background:-o-linear-gradient(top, #2a78f6 20%, #4b8df9 100%);
	background:-ms-linear-gradient(top, #2a78f6 20%, #4b8df9 100%);
	background:linear-gradient(top, #2a78f6 20%, #4b8df9 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a78f6', endColorstr='#4b8df9', GradientType=0 );
 px #000;
	color: #fff;
	border-top:none;
	color:transparent;
	text-shadow: 0px 3px 3px rgba(100,100,100,0.5), 0px -1px 1px rgba(0,0,0,0.6);
	font-family:"Lucida Console", Monaco, monospace;
	z-index:2;
}
.clsTitulo {
	text-align: center;
	border:none;
	padding-bottom:20px;
	border-bottom:none;
	border-left:none;
	border-right:none;
}
.clsTitulo:hover {
	background:#FFF;
	cursor:default;
}

#lista{
	position:absolute;
	left:91em;
}
.roundabout-holder {
	position:absolute;
	float:right;
	top:165px;
	list-style: none;
	height:14em;
	width: 170px;
	text-align:center;
	right:5em;
	margin-left:0px;
}
.roundabout-moveable-item {
	background: #2a78f6;
	background:-moz-linear-gradient(top, #4b8df9 20%, #069 100%);
	background:-webkit-gradient(linear, top, bottom, color-stop(20%, #4b8df9), color-stop(100%, #069));
	background:-webkit-linear-gradient(top, #4b8df9 20%, #069 100%);
	background:-o-linear-gradient(top, #069 20%, #4b8df9 100%);
	background:-ms-linear-gradient(top, #069 20%, #4b8df9 100%);
	background:linear-gradient(top, #069 20%, #4b8df9 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#069', endColorstr='#4b8df9', GradientType=0 );
	height: 43em;
	top:139px;
	width: 90%;
	cursor: pointer;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border: thick double #F90;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	text-align:left;
}
.roundabout-in-focus {
	cursor: auto;
}
#cabecera {
	background: #069;
	background:-moz-linear-gradient(top, #069 20%, #4b8df9 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(20%, #069), color-stop(100%, #4b8df9));
	background:-webkit-linear-gradient(top, #069 20%, #4b8df9 100%);
	background:-o-linear-gradient(top, #069 20%, #4b8df9 100%);
	background:-ms-linear-gradient(top, #069 20%, #4b8df9 100%);
	background:linear-gradient(top, #069 20%, #4b8df9 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a78f6', endColorstr='#4b8df9', GradientType=0 );
	border-bottom:groove;
	border-color:#F90;
	color:transparent;
	text-shadow: 0px 3px 3px rgba(100,100,100,0.5), 0px -1px 1px rgba(0,0,0,0.4);
	position:relative;
	height:139px;
	width:106em;
	z-index:3;
}
#titulo {
	font-weight:900;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:45px;
	position:absolute;
	top:25px;
	left:500px;
	text-align:center;
	cursor:pointer;
}
#cabecera #torcido {
	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.27);
	font-size:30px;
	position:absolute;
	left:190px;
	top:10px;
}
#cabecera #usuario {
	float:right;
	text-align:center;
	width:400px;
	height:139px;
	position:absolute;
	top:15px;
	left:67em;
}
#cabecera #usuario img {
	max-width:100px;
	max-height:100px;
	border:groove #F90;
	position:absolute;
	right:0px;
}
#usuario #datos {
	color:#FFF;
	font-size:15px;
	text-shadow: 0px 3px 3px rgba(10,23,1,0.5), 0px -1px 1px rgba(0,0,0,0.4);
	position:relative;
	top:15px;
	left:10px;
}
#usuario #boton {
	position:absolute;
	bottom:30%;
	color:#FFF;
	text-shadow: 0px 3px 3px rgba(10,23,1,0.5), 0px -1px 1px rgba(0,0,0,0.4);
	font-weight:200;
	background:#3e698c;
	background:-moz-linear-gradient(left, #3e698c 0%, #30576e 100%);
	background:-webkit-gradient(linear, left, right, color-stop(0%, #3e698c), color-stop(100%, #30576e));
	background:-webkit-linear-gradient(left, #3e698c 0%, #30576e 100%);
	background:-o-linear-gradient(left, #3e698c 0%, #30576e 100%);
	background:-ms-linear-gradient(left, #3e698c 0%, #30576e 100%);
	background:linear-gradient(left, #3e698c 0%, #30576e 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e698c', endColorstr='#30576e', GradientType=0 );
}
#not {
	border:dotted;
	width:120px;
	position:absolute;
	top:5%;
}
.centroIz {
	position:absolute;
	float:left;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border: thick double #F90;
	left:60px;
	top:150px;
	width:900px;
	z-index:0;
}
.centroDer {
	position:absolute;
	float:right;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border: thick double #ff5400;
	top:150px;
	bottom:1%;
	right:1%;
	width:290px;
}
.titRank {
	color: #fbf7f7;
	background: #F90;
	font-size: 0.9em;
	font-weight: bold;
	font-family:Verdana, Geneva, sans-serif;
	text-align: center;
	padding: 5px 0 5px 5px;
	margin: 1px 1px 20px 1px;
	border: 0px;
	border-radius: 5px;
	box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
}
/* Visión de los enlaces */
.clsTitulo a, .clsTitulo a:visited {
	text-decoration:none;
	outline:none;
	text-shadow: 0px 3px 3px rgba(100, 100, 100, 0.5), 0px -1px 1px rgba(0, 0, 0, 0.6);
	color: transparent;
}
/*---------------------------------*/
/*Estilos para la barra de búsqueda*/
/*---------------------------------*/
#buscador {
	position:relative;
	width:297px;
	left:81em;
}
.searchform {	/*Bloque de la barra*/
	margin:2% 2%;
	display: inline-block;
	zoom: 1;
 *display: inline;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top, #fff, #ededed);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
 -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
.searchform input { /*Texto de búsqueda*/
	font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield { /*Campo de búsqueda*/
	background: #fff;
	padding: 6px 6px 6px 8px;
	width: 125px;
	border: solid 1px #bcbbbb;
	outline: none;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
#tipobusqueda { /*Campo de selección de búsqueda*/
	width:inherit;
}
.searchform .searchbutton { /*Botón de búsqueda*/
	color: #fff;
	border: solid 1px #494949;
	position:relative;
	left:43%;
	font-size: 11px;
	height: 27px;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	background: #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
	background: -moz-linear-gradient(top, #9e9e9e, #454545);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
 -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}
.searchform .searchbutton:hover {
	background:#999;
}
